* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 500px));
  background-color: black;
  gap: 30px;
  padding: 20px;
}

.card {
  background-color: white;
  border: 5px dashed greenyellow;
  width: 200px;
  height: 200px;
  opacity: 0;
  transform: translateX(100px);
  transition: transform 200ms;
}

.card.show {
  transform: translateX(0);
  opacity: 1;
}
